# Varias utilidades con hojas Excel
### List of sheets in an Excel file
### Excel sheet to csv changing the encoding
### Create table (sql) from a dataframe

In [1]:
import pandas as pd
import numpy as np # to convert types
# You can use dtype or convertwers arguments when read the Excel
# for example: 
#      converters={'id': str}
#      dtype={'Col1': np.float32, 'Col2': np.int32}

## List of sheets in an Excel file

In [2]:
fi = r'D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.xlsx'

In [3]:
# Remenber you can use dtype or convertwers arguments when read the Excel
df = pd.read_excel(fi, 
                   sheet_name=None, 
                   engine='openpyxl',
                  )
for key in df.keys():
    print(key)

VolsFinales
DatosCHS
Peticiones20170112
EIA
EIAconDatosCHS
Hoja2

## Excel to csv changing the encoding

In [21]:
# fi = r'D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.xlsx'
sheet_name = 'EIAconDatosCHS'
fo = r'D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.csv'

In [36]:
# Reads Excel sheet (you can change sheet column types using dtype or converters)
df = pd.read_excel(fi, 
                   sheet_name=sheet_name, 
                   engine='openpyxl'
                  )
df.to_csv(fo, index=False, encoding='utf-8')

## Write a basic create table command from df

In [22]:
fi = r'D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.xlsx'
sheet_name = 'EIAconDatosCHS'
output = r'D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.sql'

In [35]:
# Remenber you can use dtype or convertwers arguments when read the Excel
df = pd.read_excel(fi, sheet_name=sheet_name, engine='openpyxl',
                    converters={'UTMX': np.float64, 'UTMY': np.float64}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gid                252 non-null    int64
 1   nomacu             252 non-null    object
 2   expediente         252 non-null    object
 3   peticionario       252 non-null    object
 4   prov               252 non-null    object
 5   tm                 252 non-null    object
 6   vol_solicitado_m3  252 non-null    int64
 7   vol_corregido_chs  252 non-null    float64
 8   captacion          252 non-null    object
 9   tipo_en_chs        249 non-null    object
 10  prof_m             251 non-null    float64
 11  qmax_ls            223 non-null    float64
 12  bomba_kw           223 non-null    float64
 13  has_atendidas      169 non-null    float64
 14  UTMX               252 non-null    float64
 15  UTMY               252 non-null    float64
dtypes: float64(7), int64(2), object(7)
memory usage: 31.6+ KB

In [37]:
df.head()

,gid,nomacu,expediente,peticionario,prov,tm,vol_solicitado_m3,vol_corregido_chs,captacion,tipo_en_chs,prof_m,qmax_ls,bomba_kw,has_atendidas,UTMX,UTMY
0,1,Cuaternario,APV-83/2016,"ROCA INGLES, FRANCISCO",MURCIA,Fuente Álamo,3000,3000.0,A construir,NaN,NaN,NaN,NaN,NaN,659106,4174112
1,2,Plioceno,APV-90/2016,PAREDES PEDREÑO ANDRES,MURCIA,Cartagena,58899,58899.0,Existente bombeó en el pasado,Sondeo con desalobradora,90.0,7.00,13.4,19.6329,682212,4171578
2,3,Plioceno,APV-91/2016,"INGLES DOMENECH, JOSÉ",MURCIA,Cartagena,50000,50000.0,Existente bombeó en el pasado,Sondeo/s*,90.0,5.00,15.0,NaN,684360,4171404
3,4,Plioceno,APV-92/2016,"AGRO BEIVMA, S.L.",MURCIA,Cartagena,50000,50000.0,Existente bombeó en el pasado,Sondeo/s,150.0,5.45,9.3,NaN,673134,4176125
4,5,Plioceno,APV-93/2016,VALENTÍN GALINDO GALINDO,MURCIA,Torre Pacheco,116189,58095.0,Existente bombeó en el pasado,Sondeo con desalobradora,70.0,5.83,5.6,38.7296,684567,4182211

In [38]:
table_name = 'crcc_eia2017'
ident = ' ' * 4

In [39]:
# Relationship between current types anf postgres types
# For a specific column conversion (for example object to integer), do that when the Excel is read)
convert_types={'object':'str', 'int64': 'integer', 'float64': 'real'}
db_types = [convert_types[str(type1)] for type1 in df.dtypes if str(type1) in convert_types]
if len(df.dtypes) == len(db_types):
    print('OK, all df.dtypes are in convert_types')
else:
    for type1 in df.dtypes:
        if type1 not in convert_types:
            print(f'{type1} has not a db type, check convert_types')

OK, all df.dtypes are in convert_types

In [40]:
# write sql output file to creata the table 
with open(output, 'w') as fo:
    fo.write(f'create table {table_name} (\n')
    for column1, type1 in zip(df.columns, db_types):
        fo.write(f'{ident} {column1} {type1} \n')
    fo.write(');\n')
print(f'Go to {output}\nand review it')

Go to D:\IGME20\20201215_aquifer\_data\JLGA_20210217\CRCC\CRCC_EIA2017.sql
and review it